# Análisis de series temporales

## Descarga de un conjunto de datos

El conjunto de datos en cuestión contiene información sobre los valores de las acciones _(stock)_ de la empresa de venta de videojuegos [GameStop](https://es.wikipedia.org/wiki/GameStop). Esta información ha sido recopilada desde el año 2002 hasta enero de 2021, estando referenciada la fecha exacta de cada registro en el conjunto de datos.

Este conjunto de datos ha sido extraído del siguiente _post_ de [Kaggle](https://www.kaggle.com/datasets/hananxx/gamestop-historical-stock-prices), un repositorio público de conjuntos de datos.

In [1]:
import pandas as pd

df = pd.read_csv('../data/input/GME_stock.csv')

## Descripción (cuantitativa) del conjunto de datos y su origen

El conjunto de datos tiene las siguientes características:

| Característica | Descripción |
|-|-|
|`date`|Variable temporal que indica el día de registro de los datos|
|`open_price`|Precio inicial del _stock_ al inicio del día|
|`high_price`|Precio más alto del _stock_ a lo largo del día|
|`low_price`|Precio más bajo del _stock_ a lo largo del día|
|`close_price`|Precio del _stock_ al final del día|
|`volume`|Número de acciones intercambiadas durante el día|
|`adjclose_price`|Precio final del _stock_ ajustado a distribuciones o acciones comerciales ocurridas antes del siguiente día financiero|

In [2]:
display(df)

,date,open_price,high_price,low_price,close_price,volume,adjclose_price
0,2021-01-28,265.000000,483.000000,112.250000,193.600006,58815800.0,193.600006
1,2021-01-27,354.829987,380.000000,249.000000,347.510010,93396700.0,347.510010
2,2021-01-26,88.559998,150.000000,80.199997,147.979996,178588000.0,147.979996
3,2021-01-25,96.730003,159.179993,61.130001,76.790001,177874000.0,76.790001
4,2021-01-22,42.590000,76.760002,42.320000,65.010002,196784300.0,65.010002
...,...,...,...,...,...,...,...
4768,2002-02-20,9.600000,9.875000,9.525000,9.875000,1723200.0,6.648838
4769,2002-02-19,9.900000,9.900000,9.375000,9.550000,1852600.0,6.430017
4770,2002-02-15,10.000000,10.025000,9.850000,9.950000,2097400.0,6.699336
4771,2002-02-14,10.175000,10.195000,9.925000,10.000000,2755400.0,6.733003
4772,2002-02-13,9.625000,10.060000,9.525000,10.050000,19054000.0,6.766666

## Preguntas a responder sobre este conjunto de datos

## Análisis exploratorio de datos